body{
	background: #e2e7ec;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	margin: auto;
	max-width: 1120px;
	width: 100%;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

[class*="col"],
[class^="col"]{
	padding: 0 15px;
	box-sizing: border-box;
	background: #fff;
	margin-bottom: 30px;
}

.col-1{
	width: 33.3333%;
}

.col-2{
	width: 66.6666%
}

/* Flex-container */
.container-flex{
	max-width: 1120px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.col2{
	/* flex-grow: 2; */
	flex-basis: 66%;
}

.col1{
	/* flex-grow: 1; */
	flex-basis: 33%;
}


.vertical > div,
.vertical p{
	display: inline-block;
	vertical-align: middle;
}

.vertical p{
	width: 50%;
}